<div class="container">

    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="{%url 'refuel:index'%}" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <span class="fs-4"><i class="bi bi-fuel-pump-fill"></i> Refuel Data</span>
        </a>

        <ul class="nav nav-pills">
            {%if user.is_authenticated%}
            <li class="nav-item"><a href="{%url 'refuel:features'%}" class="nav-link">{{request.user.name}}</a></li>
            {%endif%}
            <li class="nav-item"><a href="{%url 'refuel:features'%}" class="nav-link">Features</a></li>
            {%if not user.is_authenticated%}
            <li class="nav-item"><a href="{%url 'login'%}" class="nav-link">Login</a></li>
            {%else%}
            <li class="nav-item"><a href="{%url 'logout'%}" class="nav-link">Logout</a></li>
            {%endif%}
        </ul>
    </header>
</div>