{% extends 'base.html' %}

{% load i18n %}

<script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.1/dist/chart.umd.min.js" defer></script>

{% block content %}

<div class="container text-center">
    <h1 class="display-4">Dashboard</h1>
    <p class="lead">Welcome to your dashboard</p>
</div>

<div class="container">
    <div class="col-8 offset-2 my-5">
        <div class="card">
            <div class="card-body">
                <canvas id="myChart"></canvas>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    const ctx = document.getElementById('myChart').getContext('2d');

    var data_labels = JSON.parse('{{ data_labels_json | safe }}');
    var data = JSON.parse('{{ data_json | safe }}');
    var chart_title = "{{ chart_title }}";

    new Chart(ctx, {
        type: 'line',
        data: {
            labels: data_labels,
            datasets: [{
                label: chart_title,
                data: data,
                borderWidth: 1,
                borderColor: 'rgba(255,99,132)',
                backgroundColor: 'rgba(255,99,132)',
            }]
        },
        options: {}
    });
</script>


{% endblock %}