{% load i18n %}
<div class="container">

    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="{%url 'refuel:index'%}" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <span class="fs-4"><i class="bi bi-fuel-pump-fill"></i> Fuel Tracker</span>
        </a>

        <ul class="nav nav-pills">
            <li class="nav-item"><a href="{%url 'refuel:index'%}" class="nav-link">{% trans "homepage-text"%}</a></li>
            {%if user.is_authenticated%}
            {% if user.is_superuser %}
            <li class="nav-item"><a href="/admin" class="nav-link">{% trans "admin-dashboard-text"%} <i class="bi bi-speedometer"></i></a></li>
            {% endif %}

            {# path('user/<int:user_id>/', views.user_profile, name='user_profile'), #}
            <li class="nav-item"><a href="{% url 'refuel:user_profile' user_id=request.user.id %}" class="nav-link">{{request.user.name}} <i class="bi bi-person-circle"></i></a></li>
            {%endif%}
            <li class="nav-item"><a href="{%url 'refuel:features'%}" class="nav-link">{% trans "features-text"%}</a></li>
            {%if not user.is_authenticated%}
            <li class="nav-item"><a href="{%url 'login'%}" class="nav-link">{% trans "login-text"%}</a></li>
            {%else%}
            <li class="nav-item"><a href="{%url 'logout'%}" class="nav-link">{% trans "logout-text" %}</a></li>
            {%endif%}
        </ul>
    </header>
</div>

{% include "notifications.html"%}